<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <figure>Logo</figure>
        <nav class="nav">
            <ul>
                <li>Home</li>
                <li>Cursos</li>
                <li>Instructores</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <div>Elemento1</div>
            <div>Elemento2</div>
            <div>Elemento3</div>
            <div>Elemento4</div>
        </aside>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum in provident quidem id voluptates, quas eveniet facere ullam modi totam aut corrupti saepe dolore aliquid dolores illo voluptate possimus aperiam?
            Nemo perspiciatis ipsa ad aut in reprehenderit consequuntur magnam, obcaecati eveniet eos! Sint quam accusamus magnam temporibus consequatur veritatis harum praesentium quisquam sunt dolor quibusdam vitae et, possimus facilis aperiam!
            Vero accusantium libero nesciunt minus ullam incidunt earum eum quos, minima itaque amet autem ad, illum exercitationem dignissimos commodi sapiente facilis similique tempora soluta possimus impedit reiciendis. Cupiditate, iusto iure.
            Adipisci nulla molestiae optio ab, harum, sit ratione repellat necessitatibus hic deleniti provident illo! Veniam eum quibusdam perspiciatis, reiciendis ea esse cupiditate cumque eveniet soluta optio quidem quos ducimus delectus?
            Reprehenderit nobis asperiores placeat iste saepe sequi repudiandae rerum! Distinctio fugiat molestiae, nemo delectus eos corrupti ipsam facere sint natus esse, obcaecati vero reprehenderit pariatur modi amet. Aliquam, ipsa! Repudiandae.
            Autem neque numquam expedita molestias maiores, non perferendis aut eaque repellat natus, voluptas, ab quaerat! Obcaecati, rem autem, debitis fugiat fugit cumque praesentium inventore laboriosam reiciendis delectus, vel possimus totam.
            Perferendis neque odit, nesciunt exercitationem distinctio non eaque a accusantium beatae minus officiis perspiciatis? Deserunt eveniet, consequuntur optio aliquam neque quos eum cupiditate facilis, quisquam eaque quae fugiat culpa impedit.
            Debitis dicta deleniti rem obcaecati vel voluptatem neque placeat eaque. Commodi sapiente pariatur officia autem, cumque sit nobis aut optio, consectetur quam voluptatibus? Accusantium facere quas suscipit, quidem cum eaque.</p>
        </section>
    </main>
    <footer>
        <div>Redes</div>
        <div>Información</div>
    </footer>
</body>
</html>